* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(71, 61, 139, 0.82);
}
.container {
  width: 90%;
  max-width: 475px;
  margin: 100px auto;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 26px;
  /* height: 400px; */
}
.card {
  display: flex;
  flex-direction: column;
}
.mainheading h1 {
  display: flex;
  float: left;
  color: rgb(33, 33, 33);
}
hr {
  margin-top: 16px;
  margin-bottom: 20px;
  line-height: 8px;
}
.horzontlarow hr {
  width: 100%;
  line-height: 12px;
  size: 20px;
}
.question h1 {
  margin-bottom: 14px;
  color: #333;
}
.answers{
    margin-right:14px;
}
.answers button {
  display: flex;
  margin: 10px;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  border: none;
  box-shadow:0px 4px 6px rgba(0, 0, 0, 0.4);
}
.nextbtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.nextbtn button{
    background-color:black;
    padding: 16px 28px;
    color:white;
    border:none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: none;
    /* height: 10px; */
}
.correct{
    background-color: rgba(0, 128, 0, 0.588);
}
.incorrect{
    background-color: rgba(255, 0, 0, 0.397);
}